<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dgit.mapper.userMapper">

	<!-- <select id="login" resultType="UserVO"> select uid, upw, uname from 
		tbl_user where uid = #{uid} and upw = #{upw} </select> -->


	<select id="login" resultType="UserVO">

		select uid, upw, uname from pic_user where uid = #{uid} and upw = #{upw}

	</select>

	<insert id="insertUser">
		insert into pic_user (uid,upw,uname,uemail,uphone)
		values(#{uid},#{upw},#{uname},#{uemail},#{uphone})
	</insert>

	<select id="checkid" resultType="UserVO">
	
		select uid from pic_user
		
	</select>
	
	<insert id="addAttach">
  		insert into pic_attach(fullname,uid) values (#{fullname},#{uid})
  	</insert>
   	
   	<select id="getAttach"  resultType="string">
      select fullname from pic_attach where uid = #{uid} order by regdate desc 
   	</select> 
	
	<delete id="delAttach">
		delete from pic_attach where fullname=#{fullname}
	</delete>

</mapper>


